html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #575656;
    font-family: sans-serif, 'Courier New', Courier, monospace;
}
div {
    width: 300px;
    height: 350px;
    background-color: chocolate;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 10px;
}
div, form, input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

}
div form button {
    width: 100px;
    background-color: greenyellow;
    border-radius: 15px;
    font-size: 15px;
    color: black;
}
.btn {
    position: inherit;
    margin: 0 auto;
}
form label {
    position: relative;
    margin: 0 auto;
    font-size: 18px;
}
input {
    width: 250px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 18px;
}