* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: url(../image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    width: 40%;
    position: absolute;
    right: 5%;
    top: 20px;
}

.navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

.navbar ul li {
  list-style: none;
  font-size: 25px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  position: relative; 
  display: inline-block;
  padding: 5px 0;
}

.navbar ul li a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -2px; 
  width: 0;
  height: 2px;
  background-color: aqua;
  transition: width 0.2s ease-in-out;
  transform: translateX(-50%);
}

.navbar ul li a:hover::after {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

nav {
  position: fixed;         
  top: 20px;
  left: 30px;
  border: none;
  width: auto;
}

nav h1 {
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: 600;
}

nav a {
    text-decoration: none;
    color: white;
}